.style {
    padding: 4px;
}
.style_1 {
    padding: 4px;
}
.style_2 {
    padding: 4px;
}
.paragraph_style {
    color: rgb(33, 33, 33);
    font-family: 'Cochin-BoldItalic', 'Cochin', 'Times New Roman', serif;
    font-size: 48px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 61px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    color: rgb(255, 47, 146);
    line-height: 61px;
    opacity: 1.00;
}
.paragraph_style_1 {
    color: rgb(160, 72, 155);
    font-family: 'Cochin-Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(160, 72, 155);
    font-family: 'Cochin-Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    font-family: 'Cochin-BoldItalic', 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 31px;
}
.style_5 {
    color: rgb(255, 47, 146);
    font-family: 'Cochin-BoldItalic', 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 31px;
    opacity: 1.00;
}
.paragraph_style_3 {
    color: rgb(33, 33, 33);
    font-family: 'Cochin-Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(33, 33, 33);
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_441_22 {
    position: relative;
}
.paragraph_style_5 {
    color: rgb(33, 33, 33);
    font-family: 'Cochin-Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(33, 33, 33);
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(121, 121, 121);
    font-family: 'Cochin-Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: rgb(255, 255, 255);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_1 {
    background: transparent url(tile_waterclr_pk_med100.jpg) repeat scroll top left;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_External_700_600 {
    position: relative;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_6 {
    color: rgb(102, 102, 102);
    line-height: 42px;
    opacity: 1.00;
}
.style_7 {
    color: rgb(160, 72, 155);
    line-height: 42px;
    opacity: 1.00;
}
.paragraph_style_9 {
    color: rgb(33, 33, 33);
    font-family: 'Cochin-BoldItalic', 'Cochin', 'Times New Roman', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_External_240_5766 {
    position: relative;
}
.Free_Form {
    color: rgb(0, 0, 0);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_1 {
    color: rgb(192, 39, 119);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_240_5766 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Quote {
    color: rgb(192, 39, 119);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_700_600 {
    position: relative;
}
.graphic_shape_layout_style_default_External_700_16 {
    position: relative;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(255, 178, 209);
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_441_22 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_86_52 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_311_50 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
#widget1 a:visited {
    color: rgb(112, 107, 84);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(112, 107, 84);
    text-decoration: underline;
}
#widget1 a:hover {
    color: rgb(192, 39, 119);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget2 a:visited {
    color: rgb(112, 107, 84);
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: rgb(135, 47, 165);
    text-decoration: underline;
}
#widget1 a {
    color: rgb(135, 47, 165);
    text-decoration: underline;
}
#widget0 a:hover {
    color: rgb(192, 39, 119);
    text-decoration: underline;
}
#widget2 a {
    color: rgb(135, 47, 165);
    text-decoration: underline;
}
#widget2 a:hover {
    color: rgb(192, 39, 119);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
