.style {
    padding: 4px;
}
.paragraph_style {
    color: rgb(0, 0, 0);
    font-family: 'Georgia', serif;
    font-size: 115px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 143px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(94, 94, 94);
    font-family: 'Georgia', serif;
    font-size: 42px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 53px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    color: rgb(192, 192, 192);
    line-height: 53px;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_2 {
    color: rgb(94, 94, 94);
    font-family: 'Georgia-Bold', 'Georgia', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'Georgia-Bold', 'Georgia', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    font-family: 'Georgia-Bold', 'Georgia', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    vertical-align: 16px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'Georgia-Bold', 'Georgia', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(192, 192, 192);
    font-family: 'CenturyGothic', 'Century Gothic';
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_506_508 {
    position: relative;
}
.style_External_98_43 {
    position: relative;
}
.style_External_697_145 {
    position: relative;
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_147_277 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_690_65 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_697_145 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_506_508 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_98_43 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1:hover {
    text-decoration: none;
}
a.class10 {
    color: rgb(169, 169, 169);
    text-decoration: none;
}
a.class10:visited {
    text-decoration: none;
}
a.class10:hover {
    text-decoration: none;
}
a.class11 {
    color: rgb(169, 169, 169);
    text-decoration: none;
}
a.class11:visited {
    text-decoration: none;
}
a.class11:hover {
    text-decoration: none;
}
a.class2 {
    color: rgb(94, 94, 94);
}
a.class2:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class2:hover {
    text-decoration: none;
}
a.class3 {
    color: rgb(94, 94, 94);
}
a.class3:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class3:hover {
    text-decoration: none;
}
a.class4 {
    color: rgb(94, 94, 94);
}
a.class4:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class4:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class5 {
    color: rgb(94, 94, 94);
}
a.class5:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class5:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class6 {
    color: rgb(94, 94, 94);
}
a.class6:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class6:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class7 {
    color: rgb(94, 94, 94);
}
a.class7:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class7:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class8 {
    color: rgb(94, 94, 94);
}
a.class8:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class8:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class9 {
    color: rgb(94, 94, 94);
}
a.class9:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class9:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#widget0 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
